html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  font-family: $font-primary;
  background: #fafbfe;
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  outline: 0 !important;
}