@import "../../../static/sass/variables";

.rightSide {

  @media only screen and (max-width: $max-mobile) {
    margin-top: 50px;
  }
  .secWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
  }
}
