@import "../../../../static/sass/variables";
@import "../../../../static/sass/styles";

.footerSideBar {
  .sideBarLinks {
    .mainLinks {
      margin: 0;
      display: flex;
      justify-content: space-between;
      padding: 15px 30px;
      border-top: 1px solid #f4f6f7;
      position: relative;

      li {
        position: relative;
        z-index: 2;
        &:nth-child(3) {
          position: absolute;
          top: -27px;
          width: 100%;
          left: 0;
          z-index: 1;

          .tooltipContent {
            left: -31px;
            bottom: 71px;
          }

          a {
            background: #f94b39;
            width: 58px;
            height: 58px;
            line-height: 58px;
            display: inline-block;
            box-shadow: 0 4px 8px 0 rgba(249, 75, 57, 0.48);
            border-radius: 50%;

            svg {
              color: #fff;
            }
          }
        }

        a {
          color: #b7c6c9;
          i {
            font-size: 20px;
          }
        }

        &:nth-child(2) {
          margin-right: 30%;
        }
      }

      li {
        .active {
          &:nth-child(3) {
            a {
              i {
                color: #fff;
              }
              .tooltipContent {
                left: -31px;
                bottom: 71px;
                background: #f94b39;
                box-shadow: 0 4px 8px 0 rgba(249, 75, 57, 0.48);
                color: #fff;
                top: auto;
                &::after {
                  border-top-color: #f94b39;
                  border-bottom-color: transparent;
                  top: 100%;
                  bottom: auto;
                }
              }
            }
          }
          a {
            i {
              color: #2583fd;
            }
          }
        }
      }
    }
  }
}
