@import "../../../../static/sass/variables";
@import "../../../../static/sass/general";

.footerSidebar {
  .sideBarLinks {
    .mainLinks {
      margin: 0;
      display: flex;
      justify-content: space-between;
      padding: 15px 30px;
      border-top: 1px solid #f4f6f7;
      position: relative;

      li {
        position: relative;
        z-index: 2;
        &:nth-child(3) {
          position: absolute;
          top: -27px;
          width: 100%;
          left: 0;
          z-index: 1;

          a {
            background: #f94b39;
            width: 58px;
            height: 58px;
            line-height: 58px;
            display: inline-block;
            box-shadow: 0 4px 8px 0 rgba(249, 75, 57, 0.48);
            border-radius: 50%;

            i {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
